.text {
  	position: relative;
  	line-height: 100%;
  	font-weight: 500;
}
.buttonChild {
  	align-self: stretch;
  	position: relative;
  	border-top: 1px solid #000;
  	box-sizing: border-box;
  	height: 1px;
}
.button {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 30px 30px 20px;
  	gap: 10px;
}
.left {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.tabButton {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 30px;
  	cursor: pointer;
}
.tab {
	position: sticky;
    top: 0; /* Sticks to the top of the viewport */
    z-index: 1000; /* Ensures it stays on top of other elements */
  	align-self: stretch;
  	background-color: #f7f7ff;
  	border-bottom: 2px solid #000;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: space-between;
  	padding: 0px 15px;
}
.introductionToRobotics {
  	width: 136px;
  	position: relative;
  	line-height: 100%;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 37px;
  	flex-shrink: 0;
}
.introductionToRoboticsWrapper {
  	width: 240px;
  	background-color: #ea526f;
  	border-bottom: 2px solid #000;
  	box-sizing: border-box;
  	height: 60px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
}
.cap4662 {
  	width: 220px;
  	position: relative;
  	line-height: 100%;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	max-width: 220px;
}
.pm445pm {
  	width: 220px;
  	position: relative;
  	line-height: 100%;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	max-width: 240px;
}
.frameParent {
  	width: 240px;
  	box-shadow: 4px 4px 0px #000;
  	background-color: #f7f7ff;
  	border: 2px solid #000;
  	box-sizing: border-box;
  	height: 240px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 10px;
}
.courses {
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 15px;
}
.pageBody {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	padding: 30px;
    gap: 30px;
}
.studentScheduleView {
  	width: 100%;
  	position: relative;
  	background-color: #7692ff;
  	min-height: 100vh;
  	/*overflow: hidden;*/
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	text-align: center;
  	font-size: 16px;
  	color: #000;
  	font-family: Inter;
}

.infoIcon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.info {
    width: 500px;
    box-shadow: 4px 4px 0px #000;
    background-color: #f7f7ff;
    border: 2px solid #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}
.text3 {
    position: relative;
    line-height: 100%;
}