.text {
  	position: relative;
  	line-height: 100%;
  	font-weight: 500;
}
.button {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 30px;
  	cursor: pointer;
}
.buttonChild {
  	align-self: stretch;
  	position: relative;
  	border-top: 1px solid #000;
  	box-sizing: border-box;
  	height: 1px;
}
.button3 {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 30px 30px 20px;
  	gap: 10px;
  	cursor: pointer;
}
.left {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.tab {
	position: sticky;
    top: 0; /* Sticks to the top of the viewport */
    z-index: 1000; /* Ensures it stays on top of other elements */
  	align-self: stretch;
  	background-color: #f7f7ff;
  	border-bottom: 2px solid #000;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: space-between;
  	padding: 0px 15px;
}
.header {
  	align-self: stretch;
  	background-color: #ea526f;
  	border-bottom: 2px solid #000;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 13.2px 15px;
}
.textBox {
	width: 70px;
  	box-shadow: 4px 4px 0px #000;
  	background-color: #f7f7ff;
  	border: 2px solid #000;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
	text-align: center;
  	justify-content: center;
  	padding: 5px 10px;
}
.checkIcon {
  	width: 32px;
  	position: relative;
  	height: 32px;
  	overflow: hidden;
  	flex-shrink: 0;
}

.body {
  	height: 60px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
}
.card {
  	box-shadow: 4px 4px 0px #000;
  	background-color: #f7f7ff;
  	border: 2px solid #000;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.header1 {
  	align-self: stretch;
  	background-color: #ea526f;
  	border-bottom: 2px solid #000;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 15px;
  	gap: 10px;
}
.textBox2 {
  	width: 75px;
  	position: relative;
  	box-shadow: 4px 4px 0px #000;
  	background-color: #f7f7ff;
  	border: 2px solid #000;
  	box-sizing: border-box;
  	height: 26px;
	text-align: center;
  	overflow: hidden;
  	flex-shrink: 0;
}
.plusIcon {
  	width: 32px;
  	position: relative;
  	height: 32px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.row {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 8px;
}
.body1 {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 15px 30px;
}
.adddropCard {
  	box-shadow: 4px 4px 0px #000;
  	background-color: #f7f7ff;
  	border: 2px solid #000;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}

.columns {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 10px;
}
.divider {
  	align-self: stretch;
  	position: relative;
  	border-top: 2px solid #000;
  	box-sizing: border-box;
  	height: 2px;
}
.topSection {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 30px;
}
.abbreviation {
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 0px;
}
.dividerChild {
  	align-self: stretch;
  	width: 1px;
  	position: relative;
  	border-right: 1px solid #000;
  	box-sizing: border-box;
}
.divider1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
}
.header2 {
  	align-self: stretch;
  	background-color: #f7f7ff;
  	border: 1px solid #000;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	padding: 5px 10px;
}
.rows {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.bottomSection {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 5px;
}
.pageBody {
  	width: 100%;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 30px;
  	box-sizing: border-box;
  	gap: 30px;
  	max-width: 1440px;
  	max-height: 1024px;
}
.staffSearchInstructors {
	width: 100%;
    position: relative;
    background-color: #7692ff;
    min-height: 100vh;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 16px;
    color: #000;
    font-family: Inter;
}

.pushDown {
    transition: transform 0.1s ease;
    cursor: pointer;
}
  
  .pushDown:active {
    transform: translateY(2px); /* Pushes the image down by 4 pixels */
}

.pushDown {
    transition: transform 0.1s ease;
    cursor: pointer;
}
  
  .pushDown:active {
    transform: translateY(2px); /* Pushes the image down by 4 pixels */
}
  